<h1> Chitter </h1>

<% if flash[:notice] %>
<p id="headertext"><%= flash[:notice] %></p>
<% end %>

<p id="headertext">// <a href="/sign_up">REGISTRATION</a> // POST</p>

<% @peeps.reverse.each do |peep| %>
<p>
PEEP: <%= peep.message %>
</p>
<p>
AUTHOR
</p>
<p>
TIME: <%= peep.time %> 
</p>
<hr class="divide" style="height:1px;color:gray">
<% end %>
