<html>
<head>
  <title>Welcome to Chitter</title>
<link type="text/css" rel="stylesheet" href="css/reset.css">
<link type="text/css" rel="stylesheet" href="css/document.css">
</head>
<body>
<h1><a href="/">Home of Chittering</a></h1>

<%= yield %>

</body>
</html>
